# Pandas Kaggle Exercise - Grouping and Sorting

In [25]:
# loading in a dataset from local machine. employee_attrition.csv used 
df = pd.read_csv(r"E:\IOD_data\winemag-data-130k-v2.csv")

# showing that the dataset has loaded correctly
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## Using groupby()

Allows grouping of the dataframe based on the columns provided (can be more than one)

In [26]:
reviews.groupby('points').points.count()

points
80      155
81      305
82      923
83     1442
84     3490
85     5082
86     6179
87     8872
88     8423
89     5724
90     7697
91     6016
92     4917
93     3268
94     1905
95      678
96      262
97       99
98       39
99       15
100       8
Name: points, dtype: int64

grouping by more than one column

In [27]:
reviews.groupby(['country','variety']).size()

country    variety
Argentina  Barbera                        1
           Bonarda                       53
           Bordeaux-style Red Blend      44
           Bordeaux-style White Blend     1
           Cabernet Blend                 4
                                         ..
Uruguay    Tannat                        28
           Tannat-Cabernet Franc          2
           Tannat-Merlot                  1
           Tannat-Syrah                   1
           Tempranillo-Tannat             1
Length: 1304, dtype: int64

grouping by more than one column and extracting the specific rows from the dataframe

In [34]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                            Unnamed: 0    country  \
country   province
Argentina Mendoza Province        8869  Argentina
          Other                   4633  Argentina
Armenia   Armenia                 8170    Armenia
Australia Australia Other        37882  Australia
          New South Wales        24582  Australia
...                                ...        ...
Uruguay   Juanico                 9133    Uruguay
          Montevideo             15750    Uruguay
          Progreso               25177    Uruguay
          San Jose               39898    Uruguay
          Uruguay                39361    Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If you love massive Argentine reds with purity...
          Other             This single-vineyard Malbec blend from vineyar...
Armenia   Armenia           Medium straw in the glass, this wine has a nos...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   This is full and rich but not overly heavy or ...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          RPF is regularly one of Uruguay's better Tanna...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                                  designation  \
country   province
Argentina Mendoza Province  Finca Pedregal Single Vineyard Barrancas Maipú...
          Other                                                  Chañar Punco
Armenia   Armenia                                              Estate Bottled
Australia Australia Other                                       Sarah's Blend
          New South Wales                                            Botrytis
...                                                                       ...
Uruguay   Juanico                            Preludio Barrel Select Lote N 77
          Montevideo                  Monte Vide Eu Tannat-Merlot-Tempranillo
          Progreso                                                        RPF
          San Jose                                   El Preciado Gran Reserva
          Uruguay                                   Blend 002 Limited Edition

                            points  price          province  \
country   province
Argentina Mendoza Province      95   74.0  Mendoza Province
          Other                 94   68.0             Other
Armenia   Armenia               87   14.0           Armenia
Australia Australia Other       93   15.0   Australia Other
          New South Wales       91   19.0   New South Wales
...                            ...    ...               ...
Uruguay   Juanico               90   45.0           Juanico
          Montevideo            91   60.0        Montevideo
          Progreso              88   20.0          Progreso
          San Jose              87   50.0          San Jose
          Uruguay               91   22.0           Uruguay

                                           region_1 region_2  \
country   province
Argentina Mendoza Province                  Mendoza      NaN
          Other                    Calchaquí Valley      NaN
Armenia   Armenia                               NaN      NaN
Australia Australia Other   South Eastern Australia      NaN
          New South Wales                  Riverina      NaN
...                                             ...      ...
Uruguay   Juanico                               NaN      NaN
          Montevideo                            NaN      NaN
          Progreso                              NaN      NaN
          San Jose                              NaN      NaN
          Uruguay                               NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
Armenia   Armenia               Mike DeSimone        @worldwineguys
Australia Australia Other                 NaN                   NaN
          New South Wales      Joe Czerwinski                @JoeCz
...                                       ...                   ...
Uruguay   Juanico           Michael Schachner           @wineschach
          Montevideo        Michael Schachner           @wineschach
          Progreso          Michael Schachner           @wineschach
          San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Pascual Toso 2014 Finca Pedregal Single Vineya...
          Other             El Esteco 2013 Chañar Punco Red (Calchaquí Val...
Armenia   Armenia              Van Ardi 2015 Estate Bottled Kangoun (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales     Three Bridges 2013 Botrytis Semillon (Riverina)
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso                          Pisano 2013 RPF Tannat (Progreso)
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                              variety           winery
country   province
Argentina Mendoza Province  Cabernet Sauvignon-Malbec     Pascual Toso
          Other                             Red Blend        El Esteco
Armenia   Armenia                             Kangoun         Van Ardi
Australia Australia Other                   Red Blend  Marquis Philips
          New South Wales                    Sémillon    Three Bridges
...                                               ...              ...
Uruguay   Juanico                           Red Blend   Familia Deicas
          Montevideo                        Red Blend            Bouza
          Progreso                             Tannat           Pisano
          San Jose                          Red Blend   Castillo Viejo
          Uruguay               Tannat-Cabernet Franc          Narbona

[385 rows x 14 columns]

#### groupby() and agg()

arg() allows many functions to be run on the dataframe after it has been grouped by the groupby() function

In [36]:
reviews.groupby(['country']).price.agg([len, min, max])

                            len   min     max
country
Argentina                1907.0   4.0   230.0
Armenia                     1.0  14.0    14.0
Australia                1177.0   6.0   850.0
Austria                  1635.0   7.0   150.0
Bosnia and Herzegovina      1.0  13.0    13.0
Brazil                     31.0  10.0    45.0
Bulgaria                   68.0   8.0    55.0
Canada                    108.0  12.0   120.0
Chile                    2258.0   5.0   400.0
Croatia                    44.0  13.0    65.0
Cyprus                      6.0  11.0    21.0
Czech Republic              6.0  15.0    45.0
England                    36.0  25.0    80.0
France                  11174.0   5.0  2500.0
Georgia                    37.0   9.0    40.0
Germany                  1051.0   5.0   775.0
Greece                    242.0   8.0    79.0
Hungary                    61.0  10.0   764.0
India                       4.0  10.0    20.0
Israel                    259.0   8.0   100.0
Italy                   10005.0   5.0   595.0
Lebanon                    20.0  13.0    75.0
Luxembourg                  4.0  16.0    30.0
Macedonia                   6.0  15.0    20.0
Mexico                     31.0   8.0    58.0
Moldova                    30.0   8.0    42.0
Morocco                    11.0  14.0    40.0
New Zealand               733.0   8.0   120.0
Peru                        8.0  10.0    68.0
Portugal                 2963.0   5.0  1000.0
Romania                    67.0   7.0   100.0
Serbia                      7.0  15.0    40.0
Slovakia                    1.0  16.0    16.0
Slovenia                   39.0   7.0    60.0
South Africa              737.0   8.0   330.0
Spain                    3409.0   4.0   770.0
Switzerland                 4.0  30.0   160.0
Turkey                     43.0  15.0   120.0
US                      27177.0   4.0   750.0
Ukraine                     5.0   6.0    10.0
Uruguay                    61.0  10.0   120.0

## Multi-index

Multi indexes are created when a dataframe is grouped by more than 2 columns

In [37]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  1635
          Other              272
Armenia   Armenia              1
Australia Australia Other    131
          New South Wales     34
...                          ...
Uruguay   Juanico              8
          Montevideo          10
          Progreso             5
          San Jose             3
          Uruguay              7

[385 rows x 1 columns]

Here we can see that the index of the above is a multi-index

In [38]:
type(countries_reviewed.index)

pandas.core.indexes.multi.MultiIndex

to change a multi-index back to a normal index, reset_index() can be used

In [43]:
countries_reviewed = countries_reviewed.reset_index()
type(countries_reviewed.index)

pandas.core.indexes.range.RangeIndex

## Sorting

to sort a dataframe, provide the column on which the values will be sorted on. <br>
By default, the order is descending

In [44]:
countries_reviewed.sort_values(by='len', ascending=False)

          country     province    len
353            US   California  18122
375            US   Washington   4308
110        France     Bordeaux   3014
204         Italy      Tuscany   2985
369            US       Oregon   2691
..            ...          ...    ...
289      Slovenia    Dolenjska      1
291      Slovenia         Kras      1
293      Slovenia     Slovenia      1
329  South Africa  Vlootenburg      1
139        Greece       Beotia      1

[385 rows x 3 columns]

Dataframes can be also be sorted using the index

In [45]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  1635
1    Argentina             Other   272
2      Armenia           Armenia     1
3    Australia   Australia Other   131
4    Australia   New South Wales    34
..         ...               ...   ...
380    Uruguay           Juanico     8
381    Uruguay        Montevideo    10
382    Uruguay          Progreso     5
383    Uruguay          San Jose     3
384    Uruguay           Uruguay     7

[385 rows x 3 columns]

Sorting using more than one column

In [46]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   272
0    Argentina  Mendoza Province  1635
2      Armenia           Armenia     1
6    Australia          Tasmania    23
4    Australia   New South Wales    34
..         ...               ...   ...
382    Uruguay          Progreso     5
384    Uruguay           Uruguay     7
380    Uruguay           Juanico     8
381    Uruguay        Montevideo    10
379    Uruguay         Canelones    24

[385 rows x 3 columns]

# End of Tutorial

## Kaggle exercises

Exercises found at the end of the kaggle tutorial

#### Importing the wine set dataset required for the exercise

In [1]:
import pandas as pd

In [4]:
# loading in a dataset from local machine. employee_attrition.csv used 
df = pd.read_csv(r"E:\IOD_data\winemag-data-130k-v2.csv")

# showing that the dataset has loaded correctly
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

#### 1. Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [6]:
df.groupby('taster_twitter_handle').taster_twitter_handle.count()

taster_twitter_handle
@AnneInVino          1769
@JoeCz               2605
@bkfiona               11
@gordone_cellars     2032
@kerinokeefe         5313
@laurbuzz             938
@mattkettmann        3035
@paulgwine           4851
@suskostrzewa         593
@vboone              4696
@vossroger          13045
@wawinereport        2358
@wineschach          7752
@winewchristina         4
@worldwineguys        465
Name: taster_twitter_handle, dtype: int64

#### 2. What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [7]:
df.groupby('price').points.max()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1200.0    96
1300.0    96
1900.0    98
2000.0    97
2500.0    96
Name: points, Length: 312, dtype: int64

#### 3. What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [13]:
var_price = df.groupby('variety').price.agg([min,max])
print(var_price)

              min    max
variety
Abouriou     75.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0    9.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   13.0
Zweigelt      9.0   65.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[590 rows x 2 columns]

#### 4. What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [14]:
sorted_varieties = var_price.sort_values(by=['min','max'], ascending = False)
print(sorted_varieties)

                      min    max
variety
Terrantez           236.0  236.0
Bual                194.0  230.0
Cabernet-Shiraz     150.0  150.0
Rosenmuskateller    150.0  150.0
Malbec-Cabernet     130.0  165.0
...                   ...    ...
Madeira Blend         NaN    NaN
Petit Meslier         NaN    NaN
Sämling               NaN    NaN
Tempranillo-Malbec    NaN    NaN
Zelen                 NaN    NaN

[590 rows x 2 columns]

#### 5. Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [15]:
df.groupby('taster_name').points.mean()

taster_name
Alexander Peartree    86.014286
Anna Lee C. Iijima    88.380506
Anne Krebiehl MW      90.587903
Carrie Dykes          86.644444
Christina Pickard     89.500000
Fiona Adams           87.090909
Jeff Jenssen          88.273504
Jim Gordon            88.604331
Joe Czerwinski        88.519770
Kerin O’Keefe         88.827969
Lauren Buzzeo         87.831557
Matt Kettmann         90.021087
Michael Schachner     86.904541
Mike DeSimone         89.030303
Paul Gregutt          89.095032
Roger Voss            88.678957
Sean P. Sullivan      88.666243
Susan Kostrzewa       86.408094
Virginie Boone        89.229557
Name: points, dtype: float64

#### 6.What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [23]:
country_variety_counts = df.groupby(['country','variety']).variety.count().sort_values(ascending = False)
print(country_variety_counts)

country    variety
US         Pinot Noir                  4918
           Cabernet Sauvignon          3649
           Chardonnay                  3412
France     Bordeaux-style Red Blend    2380
Italy      Red Blend                   1870
                                       ...
           Groppello                      1
           Grignolino                     1
           Gragnano                       1
           Gaglioppo                      1
Argentina  Barbera                        1
Name: variety, Length: 1304, dtype: int64