# Assingment 1 : Understanding the impact of COVID-19 cases (within US vs outside US) on investor sentiments in the S&P 500

In early 2020, the rise of COVID-19 cases has been reported to cause a drastic change in  investing patterns, leading to changes in stock prices and trading volumes. For example, during an increase in COVID cases, it was reported that stocks within the travel industry fell, and stocks within the tech industry rose. <br>


Drastic changes in  investing patterns are often related to changed investor sentiments for a particular industry/stock due external market events. Although COVID-19 is one such market event, it still unknown if local stock markets within market are more sensitive to global case numbers or more localised case numbers. With this in mind, this notebook will attempt to answer the below <b>business question <b>:
<br><br>
<b><i> How does the change in global vs local COVID cases impact investor sentiment relayed by investing patterns and what is the resultant impact on the stock market?

### Breaking down the business question

I have broken down the business question into 3 key parts:<br>
1) Understand the impact on investor sentiment and investing patterns to changes in COVID 19 cases across different industries and stocks <br>
2) Understand the impact on investor sentiment and investing patterns to changes in COVID 19 cases on market volatility and trading volume <br>
3) Understand whether the number of local cases or the number of global cases have a greater impact investing patterns

### Preparing the dataset

For this assignment, I have used data from the S&P 500 (USA stock index) and we will therefore be understanding the impact on investors in the S&P 500 (both US and non-US investors). To create the dataset, I have combined: <br>
- S&P 500 data for all stocks from Yahoo finance from 1/1/2020 to 13/1/2021 <br>
- COVID-19 case number dataset provided by Kaggle

In [1]:
import yfinance as yf
import pandas as pd

In [23]:
msft = yf.Ticker("GOOGL")
x = msft.info
x['industry']

'Internet Content & Information'

In [35]:
msft = yf.Ticker("MSFT")
x = msft.history(start = '2020-01-01', end = '2021-01-13')
x['Company'] = 'MSFT'
x

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
Date,,,,,,,,
2019-12-31,155.126646,156.116164,154.809994,156.046890,18369400,0.0,0,MSFT
2020-01-02,157.115571,159.045127,156.670291,158.936279,22622100,0.0,0,MSFT
2020-01-03,156.660417,158.273320,156.403133,156.957260,21116200,0.0,0,MSFT
2020-01-06,155.433405,157.432234,154.869373,157.362961,20813700,0.0,0,MSFT
2020-01-07,157.649943,157.996265,155.670908,155.928177,21634100,0.0,0,MSFT
...,...,...,...,...,...,...,...,...
2021-01-05,217.259995,218.520004,215.699997,217.899994,23823000,0.0,0,MSFT
2021-01-06,212.169998,216.490005,211.940002,212.250000,35930700,0.0,0,MSFT
2021-01-07,214.039993,219.339996,213.710007,218.289993,27694500,0.0,0,MSFT
2021-01-08,218.679993,220.580002,217.029999,219.619995,22956200,0.0,0,MSFT
2021-01-11,218.470001,218.910004,216.729996,217.490005,23031300,0.0,0,MSFT

In [6]:
sp500 = pd.read_csv('E:/IOD_data/constituents_csv.csv')
sp500

    Symbol                    Name                  Sector
0      MMM              3M Company             Industrials
1      AOS         A.O. Smith Corp             Industrials
2      ABT     Abbott Laboratories             Health Care
3     ABBV             AbbVie Inc.             Health Care
4     ABMD             ABIOMED Inc             Health Care
..     ...                     ...                     ...
500    YUM         Yum! Brands Inc  Consumer Discretionary
501   ZBRA      Zebra Technologies  Information Technology
502    ZBH  Zimmer Biomet Holdings             Health Care
503   ZION           Zions Bancorp              Financials
504    ZTS                  Zoetis             Health Care

[505 rows x 3 columns]

In [15]:
stock_ticker = sp500['Symbol']
stock_ticker = stock_ticker.tolist()

master = pd.DataFrame(columns = ['Open', 'High','Low', 'Close', 'Volume', 'Dividends', 'Stock Splits', 'Symbol', 'Sector', 'Industry'])

for i in stock_ticker:
    stock = yf.Ticker(i)
    x = stock.history(start = '2020-01-22', end = '2021-12-06')
    x['Symbol'] = i 
    master = pd.concat([x, master])

- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

In [ ]:
index_info = pd.DataFrame(columns = ['Symbol', 'Sector', 'Industry'])
sector_list = []
industry_list = []


for i in stock_ticker:
    try:
        stock = yf.Ticker(i)
        y = stock.info
        sector_list.append(y['sector'])
        industry_list.append(y['industry'])
    
    except: 
        print(i)

BRK.B
BSX
BF.B
CTL
DHI
DRI

In [12]:
stock_ticker = sp500['Symbol']
stock_ticker = stock_ticker.tolist()

master = pd.DataFrame(columns = ['Open', 'High','Low', 'Close', 'Volume', 'Dividends', 'Stock Splits', 'Symbol', 'Sector', 'Industry'])

for i in stock_ticker:
    stock = yf.Ticker(i)
    x = stock.history(start = '2020-01-22', end = '2021-12-06')
    y = stock.info
    x['Symbol'] = i
    x['Sector'] = y['sector']
    x['Industry'] = y['industry']
    
    master = pd.concat([x, master])

In [13]:
x

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Sector,Industry
Date,,,,,,,,,,
2020-01-21,164.932760,166.426941,164.685380,164.754654,29517200,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
2020-01-22,165.645220,165.734288,163.943249,163.963043,24138800,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
2020-01-23,164.447908,165.051514,163.537554,164.972351,19680800,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
2020-01-24,165.754061,165.773856,162.726140,163.309952,24918100,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
2020-01-27,159.460728,161.667363,158.520690,160.578888,32078100,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
...,...,...,...,...,...,...,...,...,...,...
2021-01-07,214.039993,219.339996,213.710007,218.289993,27694500,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
2021-01-08,218.679993,220.580002,217.029999,219.619995,22956200,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
2021-01-11,218.470001,218.910004,216.729996,217.490005,23047000,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
2021-01-12,216.500000,217.100006,213.320007,214.929993,23226800,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure
2021-01-13,214.020004,216.759995,213.933105,216.339996,18857977,0.0,0,BRK.B,Technology,Softwareâ€”Infrastructure

In [143]:
master_list = master.reset_index()
master_list

,index,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company,Adj Close
0,2020-01-21,138.527501,141.913030,138.378146,141.325531,4693300,0.0,0,ZTS,NaN
1,2020-01-22,142.122127,142.719577,140.608611,140.897369,1888900,0.0,0,ZTS,NaN
2,2020-01-23,140.688257,141.166224,136.934324,137.750824,2148500,0.0,0,ZTS,NaN
3,2020-01-24,139.025378,139.025378,135.570155,135.729477,2047000,0.0,0,ZTS,NaN
4,2020-01-27,133.847516,135.858918,133.459178,135.380966,1656400,0.0,0,ZTS,NaN
...,...,...,...,...,...,...,...,...,...,...
124587,2021-01-06,172.720001,175.570007,172.039993,174.190002,3346400,0.0,0,MMM,NaN
124588,2021-01-07,171.559998,173.460007,166.160004,169.720001,5863400,0.0,0,MMM,NaN
124589,2021-01-08,169.169998,169.539993,164.610001,166.619995,4808100,0.0,0,MMM,NaN
124590,2021-01-11,166.100006,167.139999,165.000000,165.199997,2737100,0.0,0,MMM,NaN
124591,2021-01-12,165.899994,167.179993,164.080002,166.509995,2949100,0.0,0,MMM,NaN

In [144]:
master_list = master_list.rename(columns = {'index':'Date','Company': 'Symbol'})
master_list

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Adj Close
0,2020-01-21,138.527501,141.913030,138.378146,141.325531,4693300,0.0,0,ZTS,NaN
1,2020-01-22,142.122127,142.719577,140.608611,140.897369,1888900,0.0,0,ZTS,NaN
2,2020-01-23,140.688257,141.166224,136.934324,137.750824,2148500,0.0,0,ZTS,NaN
3,2020-01-24,139.025378,139.025378,135.570155,135.729477,2047000,0.0,0,ZTS,NaN
4,2020-01-27,133.847516,135.858918,133.459178,135.380966,1656400,0.0,0,ZTS,NaN
...,...,...,...,...,...,...,...,...,...,...
124587,2021-01-06,172.720001,175.570007,172.039993,174.190002,3346400,0.0,0,MMM,NaN
124588,2021-01-07,171.559998,173.460007,166.160004,169.720001,5863400,0.0,0,MMM,NaN
124589,2021-01-08,169.169998,169.539993,164.610001,166.619995,4808100,0.0,0,MMM,NaN
124590,2021-01-11,166.100006,167.139999,165.000000,165.199997,2737100,0.0,0,MMM,NaN
124591,2021-01-12,165.899994,167.179993,164.080002,166.509995,2949100,0.0,0,MMM,NaN

In [145]:
master_stock_list = pd.merge(master_list,sp500, on ='Symbol')
master_stock_list = master_stock_list.drop(columns = 'Adj Close')

In [146]:
master_stock_list

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Name,Sector
0,2020-01-21,138.527501,141.913030,138.378146,141.325531,4693300,0.0,0,ZTS,Zoetis,Health Care
1,2020-01-22,142.122127,142.719577,140.608611,140.897369,1888900,0.0,0,ZTS,Zoetis,Health Care
2,2020-01-23,140.688257,141.166224,136.934324,137.750824,2148500,0.0,0,ZTS,Zoetis,Health Care
3,2020-01-24,139.025378,139.025378,135.570155,135.729477,2047000,0.0,0,ZTS,Zoetis,Health Care
4,2020-01-27,133.847516,135.858918,133.459178,135.380966,1656400,0.0,0,ZTS,Zoetis,Health Care
...,...,...,...,...,...,...,...,...,...,...,...
124587,2021-01-06,172.720001,175.570007,172.039993,174.190002,3346400,0.0,0,MMM,3M Company,Industrials
124588,2021-01-07,171.559998,173.460007,166.160004,169.720001,5863400,0.0,0,MMM,3M Company,Industrials
124589,2021-01-08,169.169998,169.539993,164.610001,166.619995,4808100,0.0,0,MMM,3M Company,Industrials
124590,2021-01-11,166.100006,167.139999,165.000000,165.199997,2737100,0.0,0,MMM,3M Company,Industrials
124591,2021-01-12,165.899994,167.179993,164.080002,166.509995,2949100,0.0,0,MMM,3M Company,Industrials

In [150]:
master_stock_list.dtypes

Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Volume                  object
Dividends              float64
Stock Splits            object
Symbol                  object
Name                    object
Sector                  object
dtype: object

In [75]:
covid_19 = pd.read_csv("E:/IOD_data/covid_19/covid_19_data.csv")
covid_19

,SNo,Date,Province/State,Country/Region,Confirmed US cases,Confirmed non-US cases,Confirmed US deaths,Confirmed non-US deaths,Confirmed US recoveries,Confirmed non-US recoveries,Last Update
0,1,1/22/2020,Anhui,Mainland China,1,0,0,0,0,0,1/22/2020 17:00
1,2,1/22/2020,Beijing,Mainland China,0,14,0,0,0,0,1/22/2020 17:00
2,3,1/22/2020,Chongqing,Mainland China,0,6,0,0,0,0,1/22/2020 17:00
3,4,1/22/2020,Fujian,Mainland China,0,1,0,0,0,0,1/22/2020 17:00
4,5,1/22/2020,Gansu,Mainland China,0,0,0,0,0,0,1/22/2020 17:00
...,...,...,...,...,...,...,...,...,...,...,...
172475,172476,12/6/2020,Zaporizhia Oblast,Ukraine,0,36539,0,337,0,6556,12/7/2020 5:26
172476,172477,12/6/2020,Zeeland,Netherlands,0,6710,0,104,0,0,12/7/2020 5:26
172477,172478,12/6/2020,Zhejiang,Mainland China,0,1295,0,1,0,1288,12/7/2020 5:26
172478,172479,12/6/2020,Zhytomyr Oblast,Ukraine,0,31967,0,531,0,22263,12/7/2020 5:26
172479,172480,12/6/2020,Zuid-Holland,Netherlands,0,154813,0,2414,0,0,12/7/2020 5:26

In [91]:
covid_country = covid_19.groupby('Date').sum()
covid_country = covid_country.drop(columns ='SNo')
covid_country = covid_country.reset_index()
covid_country['Date'].max()

'9/9/2020'

In [106]:
cov = covid_19.drop(columns =['SNo','Province/State', 'Country/Region'])
cov_grouped = cov.groupby('Date').sum()
cov_grouped = cov_grouped.reset_index()
cov_grouped["Date"] = pd.to_datetime(cov_grouped["Date"])
cov_grouped["Date"].max()

Timestamp('2020-12-06 00:00:00')

In [155]:
stocks_covid = pd.merge(cov_grouped,master_stock_list, on = 'Date')